/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: hsl(var(--bg-color-dark-mode));
  border: none;
  cursor: pointer;

  position: relative;
}

body.light-mode button {
  background-color: hsl(var(--bg-color-light-mode));
}

/* Variables */
:root {
  /* Colors */
  --bg-color-dark-mode: 240 5% 7%;
  --bg-color-light-mode: 0 0% 100%;

  --text-color-dark-mode: 0 0% 100%;
  --text-color-light-mode: 240 6% 21%;

  --button-bg-dark-mode: 240 6% 17%;
  --button-bg-light-mode: 40 9% 89%;

  --button-bg-active-dark-mode: 195 74% 15%;
  --button-bg-active-light-mode: 194 97% 31%;

  --fill-filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7499%) hue-rotate(316deg) brightness(106%) contrast(101%);
  --light-mode-filter: brightness(0) saturate(100%) invert(15%) sepia(5%)
    saturate(999%) hue-rotate(201deg) brightness(99%) contrast(87%);

  /* Fonts */
  --ff-primary: "Roboto", sans-serif;
  --fs-900: clamp(6rem, 10vw, 8rem);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;

  margin: 0 auto;
  max-width: 80%;
  height: 100vh;
  height: 100dvh;
}

body {
  background-color: hsl(var(--bg-color-dark-mode));
  color: hsl(var(--text-color-dark-mode));
  font-family: var(--ff-primary);
}

body.light-mode {
  background-color: hsl(var(--bg-color-light-mode));
  color: hsl(var(--text-color-light-mode));
}

.timer-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.timer-container div {
  flex: 1;
}

.timer-display span {
  font-size: var(--fs-900);
}

.controls {
  display: flex;
  justify-content: space-between;
}

body.light-mode .controls button img {
  filter: var(--light-mode-filter);
}

.controls button {
  transition: scale 0.3s ease-in-out;
}

.controls button:hover,
.controls button.active {
  scale: 1.1;
  filter: brightness(120%);
}

.audio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 2rem;
}

.audio-container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  background-color: hsl(var(--button-bg-dark-mode));
  border-radius: 1.5rem;

  max-width: 8.625rem;
  padding: 1.5rem;

  transition: background-color 0.3s ease-in-out;
}

/* Input styling begin */
input[type="range"] {
  height: 4px;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  transition: background 1s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: hsl(var(--text-color-dark-mode));
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  border: 1px solid hsl(var(--text-color-dark-mode));
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: hsl(var(--text-color-dark-mode));
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: hsl(var(--text-color-dark-mode));
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: hsl(var(--text-color-dark-mode));
  border-radius: 5px;
  border: 1px solid hsl(var(--button-bg-dark-mode));
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid hsl(var(--text-color-dark-mode));
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: hsl(var(--text-color-dark-mode));
  cursor: pointer;
}

button.light-mode.active input[type="range"]::-moz-range-track, 
button.light-mode.active input[type="range"]::-moz-range-thumb {
  background: hsl(var(--text-color-dark-mode));
  border: 1px solid hsl(var(--text-color-dark-mode));
}

button.light-mode input[type="range"]::-moz-range-track, 
button.light-mode input[type="range"]::-moz-range-thumb {
  background: hsl(var(--text-color-light-mode));
  border: 1px solid hsl(var(--text-color-light-mode));
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: hsl(var(--text-color-dark-mode));
  border: 1px solid hsl(var(--button-bg-dark-mode));
  border-radius: 10px;
}

input[type="range"]::-ms-fill-upper {
  background: hsl(var(--text-color-dark-mode));
  border: 1px solid hsl(var(--button-bg-dark-mode));
  border-radius: 10px;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  border: 1px solid hsl(var(--text-color-dark-mode));
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: hsl(var(--text-color-dark-mode));
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: hsl(var(--text-color-dark-mode));
}

input[type="range"]:focus::-ms-fill-upper {
  background: hsl(var(--text-color-dark-mode));
}

button.light-mode input[type="range"]:focus::-ms-fill-lower {
  background: hsl(var(--text-color-light-mode));
}

button.light-mode input[type="range"]:focus::-ms-fill-upper {
  background: hsl(var(--text-color-light-mode));
}
/*Input styling end */

.audio-container button.light-mode {
  background-color: hsl(var(--button-bg-light-mode));
}

.audio-container button.light-mode img {
  filter: var(--light-mode-filter);
}

.audio-container button.light-mode:hover,
.audio-container button.light-mode.active {
  background-color: hsl(var(--button-bg-active-light-mode));
}

.audio-container button:hover,
.audio-container button.active {
  background-color: hsl(var(--button-bg-active-dark-mode));
}

.audio-container button.light-mode:hover img,
.audio-container button.active img {
  filter: var(--fill-filter);
}

.light-mode-button,
.dark-mode-button {
  position: absolute;

  top: 1rem;
  right: 1.3rem;
}

@media (min-width: 48em) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
  }

  .light-mode-button,
  .dark-mode-button {
    position: absolute;
    top: 3.75rem;
    right: 3.75rem;
  }
}
