/* Reset CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
}

/* Variables */
:root {
	/* Fonts */
	--ff-primary: "Roboto", sans-serif;

	--fs-title: 3rem;
	--fs-navigation: 1.375rem;
	--fs-text: 1.125rem;

	/* Colors */
	--text-color: 240 9% 89%;
	--nav-color: 240 7% 78%;
	--nav-active-color: 0 0% 100%;
	--button-color: 0 0% 100%;
	--button-hover-color: 194 97% 31%;
}

body {
	background: url(images/bg.png) no-repeat center center/cover;
	color: hsl(var(--text-color));
	font-family: var(--ff-primary);
	font-size: var(--fs-text);
	height: 100vh; /* Fallback value */
	height: 100dvh;
}

/* Navigation bar styling */
.navbar-nav {
	display: flex;
	align-items: center;
	gap: 2.6875rem;

	padding: 2.5rem 4.5rem;
}

.nav-link {
	color: hsl(var(--nav-color));
	text-decoration: none;
	font-size: var(--fs-navigation);
	transition: all 0.3s ease-in-out;
}
.nav-link:hover {
	color: hsl(var(--nav-active-color));
}

.nav-link:hover::after {
	content: "";
	background-color: hsl(var(--nav-active-color));
	display: block;
	height: 1px;

	animation: left-to-right 0.6s ease-in-out;
}

.nav-link.active {
	color: hsl(var(--nav-active-color));
	font-weight: 700;
}

@keyframes left-to-right {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

/* Main section styling */
main {
	display: grid;
	gap: 1.5rem;
	place-items: center;
	max-width: 80%;

	margin-top: 13.25rem;
	margin-inline: auto;
}

main#universe-page,
main#exploration-page {
	margin-top: 6.25rem;
	margin-left: 6.25rem;
	max-width: 42%;
	place-items: start;
}

h1 {
	font-size: var(--fs-title);
}

main button {
	border: 2px solid hsl(var(--button-color));
	color: hsl(var(--button-color));
	border-radius: 5px;
	font-weight: 700;
	padding: 0.75rem 2rem;
	text-transform: uppercase;
	transition: background 0.3s ease-in-out;
}

main button:hover {
	background-color: hsl(var(--button-color));
	color: hsl(var(--button-hover-color));
}
